.wrapper {
    text-align: center;
}

.name {
    margin: 8px 0 16px 0;
}

.profileImage {
    margin: 16px auto;
    border-radius: 50%;
}

.link {
    margin: 16px 0;
}

.button {
    margin: 24px 0;
}
