@import "styles/theme.scss";

.contentWrapper {
    margin-top: 32px;
    text-align: center;

    & > p {
        margin-bottom: 24px;
    }
}

.error {
    color: $error-color;
    font-weight: 700;
}
