@import "styles/theme.scss";

.wrapper {
    width: 100%;
}

.barWrapper {
    background-color: $light-shadow;
    border-radius: $border-radius;
    height: 16px;
    overflow: hidden;
}

.bar {
    height: 100%;
    background-color: $medium-blue;
    transition: width 2.1s linear;
}

.labelWrapper {
    position: relative;
    width: calc(100% - 56px);
    margin: -16px auto 0;
}

.label {
    position: absolute;
    background-color: $dark-blue;
    color: $white;
    font-weight: 600;
    top: -15px;
    padding: 8px 16px;
    border-radius: 26px;
    box-shadow: $box-shadow;
    transition: left 2.1s ease-in-out;
}
