$strava-orange: hsla(18, 98%, 50%, 1);
$dark-blue: hsla(182, 83%, 9%, 1);
$medium-blue: hsla(189, 43%, 56%, 1);
$shadow: hsla(39, 14%, 41%, 1);
$light-shadow: hsla(39, 14%, 41%, 0.2);
$light-gray: hsla(0, 0%, 70%, 1);
$white: hsla(0, 0%, 99%, 1);
$error-color: hsla(18, 86%, 40%, 1);

$border-radius: 8px;

$box-shadow: 0 0 12px rgba(50, 50, 0, 0.4);
$drop-shadow: 0 0 8px rgba(50, 50, 0, 0.5);

$transition-time: 0.2s;
