@import "styles/theme.scss";

.mapWrapper {
    position: relative;
    height: 200px;
    margin: 16px -24px;
}

.map {
    isolation: isolate;
    height: 100%;
}

.mapWrapper::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;

    z-index: 1000;
    box-shadow: inset $box-shadow;
}

.activityList {
    list-style: none;
    padding: 0;

    & > li {
        margin: 16px 0;
    }
}

.strong {
    font-weight: 700;
    font-size: 1.1em;
}

.activitySection {
    margin-top: 56px;
}
