@import "styles/theme.scss";

.wrapper {
    position: relative;
    width: min(100%, 400px);
    height: 240px;
    border-radius: $border-radius;
    overflow: hidden;
}

.titleWrapper {
    width: 100%;
    padding: 8px 8px 16px 8px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0) 100%);
    position: absolute;
    z-index: 1000;
}

.title {
    text-align: start;
    padding-left: 8px;
    color: $white;
}
