@import "styles/theme.scss";

.title {
    margin-bottom: 0.5em;
}

.description {
    margin-bottom: 1em;
}

.mapWrapper {
    position: relative;
    height: 200px;
    margin: 16px -24px;
}

@media screen and (min-width: 650px) {
    .mapWrapper {
        height: 300px;
        width: 100vw;
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
    }
}

.map {
    isolation: isolate;
    height: 100%;
}

.mapWrapper::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;

    z-index: 1000;
    box-shadow: inset $box-shadow;
    pointer-events: none;
}

.activityList {
    list-style: none;
    padding: 0;

    & > li {
        margin: 16px 0;
    }
}

.strong {
    font-weight: 700;
    font-size: 1.1em;
}

.activitySection {
    margin-top: 56px;
}
