.list {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 8px -8px;
    justify-content: space-between;

    & li {
        list-style: none;
        margin: 8px 8px;
        flex: 1 1 368px;

        & a {
            display: block;
        }
    }
}

.summary {
    margin: 0 auto;
}
